@import "fonts.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
}

html,
body {
    font-family: "Gilroy", sans-serif;
    height: 100%;
}

.container {
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 45px;
}

.main__heading {
    font-family: "Gilroy", sans-serif;
    font-weight: bold;
    font-size: 28px;
    color: #102A43;
    position: relative;
    margin-bottom: 30px;
}

.main__heading:before {
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    background: #F4E2E5;
    border-radius: 0 5px 5px 0;
    top: 50%;
    transform: translateY(-50%);
    left: -45px
}

#wrapper {
    min-height: 100%;
    padding-bottom: 315px;
}

/* Menu */
#menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #ececec;
    z-index: 1;
    opacity: 0;
    transform: translateX(-110vw);
    transition: transform .3s, opacity .3s;
}

#menu.visible {
    opacity: 1;
    transform: translateX(0);
}

.menu__heading {
    text-align: center;
    font-family: "Gilroy", sans-serif;
    color: #1a0b1d;
    margin-top: 20px;
    font-size: 40px;
}

.menu__list {
    list-style: none;
    margin-top: 60px;
}

.menu__item {
    text-align: center;
    margin-bottom: 20px;
}

.menu__link {
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    color: #060f16;
}

.menu__btnClose {
    position: absolute;
    background: none;
    border: none;
    font-size: 22px;
    top: 20px;
    right: 20px;
}

/* \Menu */

/* Header */

.header {}

.header-block {
    display: flex;
    justify-content: space-between;
}

.header-block:nth-of-type(1) {
    height: 48px;
    line-height: 48px;
    border-bottom: 1px solid rgba(21, 21, 21, 0.5);
}

.header__contacts {
    width: 265px;
}

.header__contacts ul,
.header__navigation ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.header__navigation {
    width: 500px;
}

.header__item,
.header-link {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    color: #102A43;
}

.header__item {
    display: flex;
    align-items: center;
}

.header__item.phone {
    font-family: "Gilroy", sans-serif;
    font-size: 13px;
}

.header-link {
    text-decoration: none;
    transition: text-decoration .3s;
}

.header-link:hover {
    text-decoration: underline;
}

.header-link.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    opacity: .5;
    border: 1px solid #97CBF2;
    border-radius: 50%;
    transition: all .3s;
}

.header-link.btn:hover {
    opacity: 1;
}

.header-block:nth-of-type(2) {
    height: 88px;
    display: flex;
    align-items: center;
}

.header__item.burger {
    cursor: pointer;
    display: none;
}

.header__item.burger > button,
.header__item.burger > button::before,
.header__item.burger > button::after {
    display: block;
    position: relative;
    width: 26px;
    height: 2px;
    background-color: #616161;
    border-radius: 2px;
    border: none;
}
.header__item.burger > button::before {
    content: '';
    top: -8px;
}
.header__item.burger > button::after {
    content: '';
    top: 8px;
}

.header__logo {
    height: 30px;
}

.header__search--label {
    position: relative;
    width: 390px;
    height: 50px;
}

.header__search {
    width: 100%;
    height: 100%;
    background: #EAF5FC;
    border-radius: 10px;
    border: none;
    padding-left: 12px;
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #102A43;
    padding-right: 10px;
}

.header__search--label:after {
    content: url("../images/svg/magnifying_glass.svg");
    width: 17px;
    position: absolute;
    right: 17px;
    top: 50%;
    transform: translateY(-45%);
    cursor: pointer;
}

.header__search::placeholder {
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #102A43;
}

.header__location {
    display: flex;
    align-items: center;
}

.header__location a {
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #102A43;
    margin-left: 10px;
}

.header__profile {
    display: flex;
    height: 56px;
}

.profile {
    display: flex;
    align-items: center;
    padding-left: 18px;
    width: 57px;
    border: .3px solid #F4E2E5;
    border-radius: 10px 0 0 10px;
    transition: background .3s;
}

.profile:hover {
    background: rgba(234, 234, 234, 0.82);
}

.basket__wrap {
    background: #97CBF2;
    border-radius: 0 10px 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 145px;
    transition: background .3s;
    cursor: pointer;
}

.basket__wrap:hover {
    background: #6f99b3;
}

.basket__wrap > a {
    position: relative;
}

.basket__wrap.active > a:after {
    display: block;
}

.basket__wrap > a:after {
    content: "";
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #F1A8C5;
    position: absolute;
    right: -2px;
    top: -2px;
    display: none;
}

.basket {
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    color: #fff;
    margin-left: 12px;
}

.basket__amount {
    font-size: 13px;
}

.basket__price {
    font-size: 16px;
}

/* \Header */

/* Intro */
.intro {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(92.74deg, #F4E2E5 35.31%, #EF8DB4 111.67%);
    backdrop-filter: blur(10px);
}

.intro .container {
    display: flex;
}

.catalog__wrap {
    background: #fff;
    padding: 0 23px;
    width: 305px;
    position: relative;
}

.catalog__heading {
    font-family: "Gilroy", sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #102A43;
    padding-top: 16px;
    padding-bottom: 18px;
}

.catalog {
    list-style: none;
}

.catalog__item {
    padding: 10px 0;
    border-bottom: 1px solid #F0F4F8;
    cursor: pointer;
}

.catalog__item:hover .catalog__link {
    opacity: .4;
}

.catalog__item:nth-of-type(1) {
    border-top: 1px solid #F0F4F8;
}
.catalog__item:nth-last-of-type(1) {
    border-bottom: none;
}

.catalog__link {
    text-decoration: none;
    font-family: "Gilroy", sans-serif;
    font-size: 14px;
    color: rgba(16, 42, 67, 0.9);
    position: relative;
    display: block;
    height: 100%;
    transition: opacity .3s;
}

.catalog__link:hover {
    opacity: .4;
}

.catalog__item:hover .catalog-dropDown {
    opacity: 1;
    z-index: 1;
}

.catalog-dropDown:hover {
    z-index: 1;
    opacity: 1;
}

.catalog__link:after {
    content: url("../images/svg/arrow_bottom.svg");
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
}

.catalog-dropDown {
    position: absolute;
    top: 0;
    left: 90%;
    background: #fff;
    height: 100%;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    z-index: -1;
    transition: all .3s;
    cursor: initial;
    padding-top: 12px;
}

.catalog-dropDown__block {
    padding-left: 25px;
    padding-right: 10px;
    min-width: 240px;
    position: relative;
}

.catalog-dropDown__block:nth-of-type(1) {
    padding-left: 45px;
}
.catalog-dropDown__block:nth-of-type(2):after,
.catalog-dropDown__block:nth-of-type(3):after {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    background: #000;
    opacity: .5;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.catalog-dropDown__block:nth-of-type(2),
.catalog-dropDown__block:nth-of-type(3) {
    padding-top: 35px;
    position: relative;
}

.catalog-dropDown__heading {
    font-family: "Gilroy", sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #102A43;
    margin-bottom: 20px;
}

.catalog-dropDown__list {
    list-style: none;
}

.catalog-dropDown__item {
    margin-bottom: 10px;
}

.catalog-dropDown__item a {
    text-decoration: none;
    font-family: "Gilroy", sans-serif;
    color: #060f16;
    transition: all .3s;
}

.catalog-dropDown__item:hover a {
    text-decoration: underline;
}

.intro__desc {
    padding-left: 45px;
    padding-top: 50px;
    display: flex;
    width: 90%;
    align-items: flex-end;
    justify-content: space-between;
}

.intro__heading {
    font-family: "Gilroy", sans-serif;
    width: 300px;
    font-weight: 900;
    font-size: 46px;
    color: #102A43;
    margin-bottom: 20px;
}

.intro__description {
    font-family: "Gilroy", sans-serif;
    width: 470px;
    line-height: 28px;
    font-size: 16px;
    color: #102A43;
    margin-bottom: 30px;
}

.intro__btn {
    font-family: "Gilroy", sans-serif;
    font-weight: 900;
    font-size: 16px;
    text-transform: uppercase;
    color: #97CBF2;
    background: none;
    border: 2px solid #97CBF2;
    border-radius: 10px;
    padding: 18px 12px;
    cursor: pointer;
    margin-bottom: 60px;
    transition: background .3s, color .3s;
}

.intro__btn:hover {
    background: #97CBF2;
    color: #fff;
}

.intro__cardList {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 350px;
    margin-bottom: 20px;
}

.intro__sale {
    font-family: "Gilroy", sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #102A43;
    margin-bottom: 25px;
}
/* \Intro */


/* benefitsBlog */
.benefitsBlog {}

.benefitsBlog .container {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.benefits__wrap {
    width: 52%;
}

.benefits {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

.benefits__item {
    display: inline-flex;
    align-items: center;
    max-width: 270px;
    margin-bottom: 30px;
    line-height: 26px;
}

.benefits__item:nth-of-type(2n) {
    max-width: 328px;
    line-height: 20px;
}

.benefits__blockImg {
    min-width: 68px;
    height: 68px;
    background: linear-gradient(0deg, #97CBF2, #97CBF2);
    box-shadow: 0 6px 50px rgba(179, 113, 135, 0.2);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.benefits__item > div+div {
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #122D46;
    margin-left: 20px;
}

.benefits__item strong,
.benefits__item span {
    font-weight: 800;
}

.blog__wrap {
    width: 40%;
    position: relative;
}

.blog__wrap:before {
    content: "";
    position: absolute;
    width: 1px;
    height: 200px;
    top: 50%;
    transform: translateY(-55%);
    background: #F4E2E5;
    border-radius: 20px;
    left: -45px
}

.blog {
    list-style: none;
}

.blog__item {
    margin-bottom: 30px;
    position: relative;
}

.blog__item:after {
    content: url("../images/svg/arrow_rigth.svg");
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    cursor: pointer;
}

.blog__link {
    font-family: "Gilroy", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #102A43;
    text-decoration: none;
    display: flex;
    align-items: center;
    max-width: 330px;
    transition: text-decoration .3s;
}

.blog__item:hover .blog__link {
    text-decoration: underline;
}

.blog__link img {
    margin-right: 25px;
}

.blog__btn {
    font-family: "Gilroy", sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    color: #97CBF2;
    border: 2px solid #97CBF2;
    border-radius: 10px;
    padding: 18px 58px;
    background: none;
    transition: background .3s, color .3s;
    cursor: pointer;
}

.blog__btn:hover {
    background: #97CBF2;
    color: #fff;
}
/* \benefitsBlog */

/* category */
.category__wrap {
    padding-top: 40px;
}

.category {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.category * {
    font-size: 0;
}

.category__item {
    width: 368px;
    border: 1px solid #F4E2E5;
    border-radius: 10px;
    margin-bottom: 30px;
    transition: all .3s;
}

.category__item:hover {
    opacity: .7;
}

.category__link {
    text-decoration: none;
}

.category__link > div {
    font-family: "Gilroy", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: rgba(16, 42, 67, 0.9);
    text-align: center;
    margin: 20px 0;
}

.category__link > img {
    border-radius: 10px;
    width: 100%;
}
/* \Category */

/* News */
.news__wrap {}

.news {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.news__item {
    background: #FFFFFF;
    border: 1px solid #F4E2E5;
    box-sizing: border-box;
    box-shadow: 0 12px 40px rgba(51, 51, 51, 0.08);
    border-radius: 10px;
    width: 270px;
    position: relative;
    display: inline-block;
    text-align: center;
    padding-top: 38px;
}

.news__item.new:before {
    content: "New";
    position: absolute;
    text-transform: uppercase;
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #102A43;
    background: #F4E2E5;
    border-radius: 7px;
    left: -6px;
    top: -8px;
    height: 30px;
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.news__img {
    margin-bottom: 23px;
    display: inline-block;
}

.news__heading {
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #102A43;
    margin-bottom: 25px;
    text-decoration: none;
    display: inline-block;
    line-height: 26px;
    transition: text-decoration .3s;
}

.news__heading:hover {
    text-decoration: underline;
}

.news__code {
    font-family: "Gilroy", sans-serif;
    font-weight: 600;
    font-size: 11px;
    display: flex;
    color: #8D2B0B;
    opacity: 0.5;
    margin-bottom: 16px;
    padding-left: 18px;
}

.news__buyPrice {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 18px;
    margin-bottom: 38px;
}

.news-price__heading {
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 11px;
    color: #102A43;
    opacity: 0.5;
    text-align: left;
    margin-bottom: 5px;
}

.news__price {
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #102A43;
}

.news__btn.buy {
    font-family: "Gilroy", sans-serif;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 9px 28px;
    background: #97CBF2;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    transition: color .3s, background .3s;
}
.news__btn.buy:hover {
    background: #fff;
    color: #97CBF2;
    border: 2px solid #97CBF2;
    padding: 7px 26px;
}
/* \News */

/* Pagination */
.pagination {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 225px;
    margin: 40px auto;
}

.pagination__arrow {
    display: flex;
    align-items: center;
    cursor: pointer;
    opacity: .7;
    transition: opacity .3s;
}

.pagination__arrow:hover {
    opacity: 1;
}

.pagination__arrow.next {
    transform: rotate(180deg);
}

.pagination__item {
    cursor: pointer;
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #334E68;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background .3s;
}

.pagination__item:hover {
    background: #97CBF2;
}

.pagination__item.active {
    background: #97CBF2;
}

/* \Pagination */

/* Footer */
.footer {
    height: 315px;
    margin-top: -315px;
    background: #212425;
    color: #fff;
    padding-top: 50px;
}

.footer .container {
    display: flex;
    justify-content: space-between;
}

.buyer,
.personalArea,
.contactsOne,
.contactsTwo {
    list-style: none;
}

.footer__heading {
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 33px;
}

.footer__link,
.footer__item {
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.footer__item {
    max-width: 270px;
}

.contactsOne .footer__item {
    opacity: .5;
}

.footer__link {
    text-decoration: none;
    transition: opacity .3s;
    opacity: .5;
}

.footer__link:hover {
    opacity: 1;
}

.contactsTwo__number {
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
    margin-bottom: 33px;
}

.contactsTwo .footer__link {
    display: flex;
    align-items: center;
}

.contactsTwo .footer__link img {
    margin-right: 8px;
}

@media (min-width: 1320px) {
    .container {
        max-width: 1260px;
        margin: 0 auto;
        padding: 0;
    }
}

@media (max-width: 1240px) {
    .blog__wrap {
        width: 35%;
    }
    .benefits__wrap {
        width: 60%;
    }
}
@media (max-width: 1190px) {
    .category__item {
        width: 48%;
    }
    .news {
        flex-wrap: wrap;
    }
    .news__item {
        width: 48% !important;
        margin-bottom: 25px;
    }
}
@media (max-width: 1140px) {
    .intro__sale {
        font-size: 14px;
    }
    .intro__desc > img {
        height: 360px;
    }
}
@media (max-width: 1120px) {
    .intro__desc {
        width: 75%;
    }
    .catalog__wrap {
        width: 265px;
        min-width: 265px;
    }
}
@media (max-width: 1090px) {
    .benefitsBlog .container {
        flex-direction: column;
    }
    .blog__wrap,
    .benefits__wrap {
        width: 100%;
    }
    .benefits__item {
        max-width: 328px;
    }
}
@media (max-width: 1040px) {
    .header__search--label {
        width: 220px;
        font-size: 0;
    }
}
@media (max-width: 980px) {
    .intro__desc > img {
        display: none;
    }
}
@media (max-width: 940px) {
    #wrapper {
        padding-bottom: 475px;
    }
    .footer {
        height: 475px;
        margin-top: -475px;
    }
    .footer .container {
        flex-wrap: wrap;
    }
    .footer ul {
        width: 48%;
        margin-bottom: 30px;
        text-align: center;
    }
    .footer__link {
        justify-content: center;
    }
    .footer__item {
        max-width: initial;
    }
}
@media (max-width: 870px) {
    .basket {
        display: none;
    }
    .basket__wrap {
        width: 57px;
    }
    .header__item.burger {
        display: flex;
    }
    .header__item.removeAdaptive {
        display: none;
    }
    .header__navigation {
        width: 170px;
        display: flex;
        align-items: center;
    }
    .header__navigation ul {
        width: 100%;
    }
}
@media (max-width: 800px){
    .header__logo {
        height: 20px;
    }
    .intro__description {
        max-width: 470px;
        width: inherit;
    }
    .intro__heading {
        max-width: 300px;
        width: inherit;
    }
    .catalog__wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
@media (max-width: 780px) {
    .container {
        padding: 0 15px;
    }
}
@media (max-width: 760px) {
    .intro__desc {
        padding-left: 25px;
        padding-top: 40px;
        text-align: center;
    }
    .intro__heading {
        margin: 0 auto 10px auto;
    }
    .intro__cardList {
        margin: 0 auto 20px auto;
    }
}
@media (max-width: 720px) {
    .header__search--label {
        width: 160px;
    }
}
@media (max-width: 690px) {
    .benefits__item {
        max-width: 270px;
    }
}
@media (max-width: 660px) {
    .intro__desc {
        padding: 0 0 0 10px;
    }
    .intro__cardList {
        max-width: 350px;
    }
}
@media (max-width: 640px) {
    .catalog__wrap {
        width: inherit;
        min-width: 225px;
        padding: 0 10px;
    }
    .benefits__item > div+div {
        font-size: 13px;
        line-height: initial !important;
    }
    .benefits__item:nth-of-type(2n) {
        max-width: 270px;
    }
    .news__item {
        width: 100% !important;
    }
}
@media (max-width: 610px) {
    .category__link > div {
        font-size: 16px;
    }
}
@media (max-width: 600px) {
    .intro .container {
        flex-direction: column;
        align-items: center;
    }
    .catalog__wrap {
        width: 100%;
    }
    .catalog__link {
        font-size: 16px;
    }
    .intro__heading {
        margin: 20px auto 10px auto;
    }
    .intro__desc {
        padding: 0;
        width: 100%;
    }
    .intro__desc > div,
    .intro__description {
        width: 100%;
    }
    .intro__description {
        margin: 0 auto 30px auto;
    }
    .catalog-dropDown {
        display: none;
    }
}
@media (max-width: 580px) {
    .header__profile {
        height: 36px;
    }
    .profile,
    .basket__wrap {
        width: 40px;
        justify-content: center;
        padding-left: 0;
    }
    .basket__wrap {
        padding-top: 3px;
    }
    .benefits__blockImg {
        min-width: 58px;
        height: 58px;
    }
    .benefits__item > div+div {
        margin-left: 10px;
    }
    .benefits__item {
        max-width: 200px;
    }
    #wrapper {
        padding-bottom: 910px;
    }
    .footer {
        height: 910px;
        margin-top: -910px;
    }
    .footer ul {
        width: 100%;
    }
    .footer__heading {
        font-size: 20px;
    }
    .footer__item,
    .footer__link {
        font-size: 18px;
    }
}
@media (max-width: 560px) {
    .header__search,
    .header__search::placeholder {
        font-size: 0;
    }
    .header__search--label {
        width: 50px;
    }
}
@media (max-width: 510px) {
    .benefits__item:nth-of-type(2n) {
        max-width: 230px;
    }
}
@media (max-width: 500px) {
    .category__link > div {
        font-size: 14px;
    }
}
@media (max-width: 480px) {
    .header__item.phone + li {
        display: none;
    }
}
@media (max-width: 470px) {
    .benefits__item > div+div {
        font-size: 12px;
    }
    .benefits__item {
        max-width: 170px;
    }
}
@media (max-width: 450px) {
    .header__logo {
        height: 15px;
    }
    .header-block:nth-of-type(2) {
        height: 70px;
    }
    .header__search--label {
        height: 35px;
        width: 35px;
    }
    .header__search--label:after {
        right: 50%;
        transform: translate(50%, -45%);
    }
    .benefits__item:nth-of-type(2n) {
        max-width: 200px;
    }
    .category__item {
        width: 100%;
    }
    .category__link > div {
        font-size: 24px;
    }
}
@media (max-width: 400px) {
    .header__location a {
        font-size: 12px;
        margin-left: 5px;
    }
    .header__logo {
        height: 12px;
    }
    .header__navigation {
        width: 200px;
    }
    .blog__btn {
        margin: 0 auto;
        display: block;
    }
}
@media (max-width: 399px) {
    .benefits__item > div+div {
        font-size: 16px;
    }
    .benefits__blockImg {
        min-width: 58px;
        height: 58px;
    }
    .benefits__item,
    .benefits__item:nth-of-type(2n) {
        max-width: 100%;
    }
    .main__heading {
        text-align: center;
    }
    .intro__cardList {
        width: initial;
    }
}
@media (max-width: 385px) {
    .blog__link {
        padding-right: 26px;
        max-width: 100%;
    }
    .header__navigation {
        width: 300px;
    }
}
@media (max-width: 360px) {
    .header__location {
        display: none;
    }
    .header__search {
        font-size: 14px;
    }
    .header__search--label:after {
        right: 20px;
    }
    .header__search--label {
        width: 90px;
    }
    .intro__heading {
        font-size: 35px;
    }
    .category__link > div {
        font-size: 18px;
    }
    .menu__link {
        font-size: 26px;
    }
}